<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/functionsRegister.js' %}"></script>

    <title>Register</title>
</head>
<body class="bg-grad bodywidth70 bodypadding10">
    <h1>Registration</h1>

    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

    <form action="" id="formulario" method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your name" 
                value="{{ first_name }}" onblur="chkErrores('first_name')" onfocus="eraseError('first_name')">
            <label for="first_name">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your last name" 
                value="{{ last_name }}" onblur="chkErrores('last_name')" onfocus="eraseError('last_name')">
            <label for="last_name">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="birth_date" name="birth_date" placeholder="Your birth date" 
            onchange="chkErrores('birth_date')" onfocus="eraseError('birth_date')" value="{{ birth_date }}">
            <label for="birth_date">Date of Birth</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" name="email" placeholder="your@email.please" 
                value="{{ email }}">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="password" name="password" placeholder="Choose password" 
                onblur="chkErrores('password')" onfocus="eraseError('password')" value="{{ password }}">
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" 
                onblur="chkErrores('confirm_password')" onfocus="eraseError('confirm_password')" value="{{ confirm_password }}">
            <label for="confirm_password">Confirm Password</label>
        </div>

        <div class="row mgt-1">
            <div class="col-10">
                <button id="btn-submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>

    <a class="go-back" href="/login">Go Back</a>


</body>
</html>